.imgPoke {
    transition: transform 0.4s ease;
}
.imgPoke:hover{
    transform: rotate(180deg);

}
.pokemonData::first-letter{
    text-transform: uppercase;
}
*{
    font-family: 'Press Start 2P', cursive;
}